[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
influxdb = "==5.2.1"
pyusb = "==1.0.2"
crc16 = "==0.1.1"
openpyxl = "==2.5.14"
gunicorn = "==19.9.0"
django = "==2.1.7"
psycopg2 = "==2.8.4"

[requires]
python_version = "3.5.3"
