[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
influxdb = "*"
schedule = "*"
pyusb = "*"
crc16 = "*"

[requires]
python_version = "3.5.3"
