{% extends 'base.html' %}

{% block content %}
<h1>Solar inverter configuration</h1>

<form method="post">{% csrf_token %}
    <h3>Set max charge current</h3>
        <input type="text" name="max_charge_current_val" value="30"></td>
        <input class="btn btn-primary" type="submit" name="max_charge_current_btn" value="Submit" />
    <h3>Set AC charge current</h3>
        <input type="text" name="ac_charge_current_val" value="20"></td>
        <input class="btn btn-primary" type="submit" name="ac_charge_current_btn" value="Submit" />
</form>

{% endblock content %}
